*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, p{
    margin: 10px 10px;
}
.container{
    width: 240px;
    height: 160px;
    position: relative;

}
#red{
    height: 60px;
    width: 60px;
    background-color: red;
    position: absolute;
    left: 20px;
    transition: all 3s linear;
    -webkit-transition: all 3s linear;
    -moz-transition: all 3s linear;
    -ms-transition: all 3s linear;
    -o-transition: all 3s linear;
}
#red:hover{
    width: 160px;
    background-color: red;
}
#blue:hover{
    width: 160px;
    background-color: blue;
}
#blue{
    height: 60px;
    width: 60px;
    background-color: blue;
    position: absolute;
    left: 20px;
    top: 80px;
    transition: all 3s linear;
    -webkit-transition: all 3s linear;
    -moz-transition: all 3s linear;
    -ms-transition: all 3s linear;
    -o-transition: all 3s linear;
}