*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 15px 8px;
}
p{
    margin-top: 15px;
}
.kubik {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.kubik  div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.kubik #red{
    width: 200px;
    height: 200px;
    background-color: rgba(255, 0, 85, 0.952);
    animation-name: rotate1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.kubik  #green{
    width: 150px;
    height: 150px;
    background-color: rgb(62, 129, 62);
    animation-name: rotate2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.kubik  #blue{
    width: 100px;
    height: 100px;
    background-color: rgb(48, 48, 250);
    animation-name: rotate3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes rotate1 {
    0%{
        rotate: 120deg;
    }
    50%{
        rotate: 240deg;
    }
    100%{
        rotate: 360deg;
    }
}
@keyframes rotate2 {
    0%{
        rotate: 120deg;
    }
    50%{
        rotate: 240deg;
    }
    100%{
        rotate: 360deg;
    }
}
@keyframes rotate3 {
    0%{
        rotate: 120deg;
    }
    50%{
        rotate: 240deg;
    }
    100%{
        rotate: 360deg;
    }
}
.kubik button{
    position: absolute;
    left: 0%;
    top: 300px;
    animation-name: rotate;
}